* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-color: #9E3B3B;
  --primary-color: #f39d9d;
  --secondary-color: #f3caca;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

body {
  background-color: #FFEAD3;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: var(--primary-color);
}

td {
  background-color: var(--secondary-color)
  
}

td, th {
  padding: 8px;
  text-align: center;
}

.pagination {
  margin-top: 16px; 
  display: flex;
  justify-content: center;
  gap: 12px;
}

button {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-color: var(--text-color);
}

.error {
  color: var(--text-color);
}
